html,
body {
  padding: 0;
  margin: 0;
}
@media only screen and (max-width: 800px){
    .container{
        height: 100vh;
        width: 100vw;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        column-gap: 16px;
        row-gap: 16px;
    }
    .navbar{
        grid-row: 1/1;
        grid-column: 2/5;
    }
    .navbar .opciones{
        z-index: 1;
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 16px;
    }
    .logo{
        margin-left: 16px;
        margin-top: 9px;
    }
    .navbar img{
        position:absolute;
        z-index: -1;
        width: 73.6%;
    }

}